:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #6c6c6c;

  --text-color: var(--color-white);
  --bg-color: var(--color-black);
  --border-color: var(--color-gray);

  --vertical-padding: 0.8rem;
  --horizontal-padding: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

button {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  height: 7rem;
  background-color: var(--bg-color);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
}

.header__title a {
  display: block;
  font-size: 2.4rem;
  padding: var(--vertical-padding) var(--horizontal-padding);
  font-weight: 700;
}

.header__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.8rem;
}

.header__item button {
  font-size: 1.6rem;
  padding: var(--vertical-padding) var(--horizontal-padding);
  border: 1px solid transparent;
  border-radius: 0.8rem;
  transition: 200ms;
}

.header__item button:hover {
  border-color: #fff;
}

/* Main */

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.6rem;
  width: 100%;
  max-width: 1024px;
  margin-top: 7rem;
  background-color: var(--bg-color);
}

.sentence {
  font-family: 'Song Myung', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  word-break: keep-all;
}

.sentence::before,
.sentence::after {
  content: '"';
}

.name::before {
  content: '-';
  padding-right: 0.8rem;
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--vertical-padding) 0;
}

.kakao_ad_area {
  width: 100%;
}

.footer__form {
  display: flex;
  column-gap: var(--horizontal-padding);
  width: 100%;
}

.sentence-group,
.name-group {
  flex-grow: 2;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.sentence-group label,
.name-group label {
  flex-shrink: 0;
}

.sentence-input,
.name-input {
  width: 100%;
  padding: var(--vertical-padding);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  outline: none;
  color: var(--text-color);
}

.sentence-input:focus,
.name-input:focus {
  border-bottom-color: #fff;
}

.make-btn {
  font-size: 1.6rem;
  padding: var(--vertical-padding) var(--horizontal-padding);
  border: 1px solid #fff;
  border-radius: 0.8rem;
  transition: 200ms;
}

.make-btn:hover {
  color: #000;
  background-color: #fff;
}

/* Mobile */

@media screen and (max-width: 67rem) {
  .header__title a {
    font-size: 1.8rem;
  }
  .section {
    padding: 0 var(--horizontal-padding);
  }

  .sentence {
    font-size: 3rem;
  }

  .footer {
    padding: 2rem 0;
  }
  .footer__form {
    flex-direction: column;
    padding: 0 var(--horizontal-padding);
    column-gap: 0;
    row-gap: 1.6rem;
  }
}
